/* proSilver Board_Rules Styles
---------------------------------------- */

.icon-rules {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url("./images/icon_rules.gif");

}

.rtl .icon-rules {
	background-position: 100% 50%;
}


#rules .faq  {
	padding-left: 20px;
	padding-right: 10px;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

#rules .faq a {
	font-weight: bold;
}

#rules dl.faq1  {
	padding-left: 40px;
}

#rules .faq1  dd {
	margin-top: 1em;
}

#rules .br_fragment {
	background-color: #ECD5D8;
	color: #9C2A4D;
	margin: -2px;
	padding: 5px;
}

#rules .br_fragment a {
	color: #9C2A4D;
}

#rules ul, #rules ol {
	margin-bottom: 0;
}

#rules li {
	padding-top: 0.7em;
}

#rules .contents {
	font-size: 1.1em;
	padding: 0.4em 0;
	border-bottom: 1px solid #CCCCCC;
}

#rules span.hr {
	display: block;
	margin-left: 22px;
	margin-right: 10px;
	border-bottom: 1px dashed #CCCCCC;
}

/**
* Some CSS adapted from phpBB.com rules page
*/

/* page layout */
#container {
	position: relative;
	overflow: hidden;
}

.content h3 {
	text-transform: none;
	border-bottom: none;
	margin-top: 5px;
}

.content ol {
	font-size: 1.2em;
	margin-left: 2em;
	line-height: 1.4em;
}

.rtl .content ol {
	margin-left: 0;
	margin-right: 2em;
}

.content ol ol{ font-size: 1em; }

/* rules */
#rules { padding-right: 50px; }


.rtl #rules {
	padding-right: 0;
	padding-left: 50px;
}

.rtl #rules ol li.rule-item ol {
	margin-left: 0;
	margin-right: 3em;
}

/* rules sections mini panel */
#boardrules-categories {
	width: 260px;
	float: right;
	margin: 26px 0 30px 30px;
}

.rtl #boardrules-categories {
	float: left;
	margin-left: 0;
	margin-right: 30px;
}

.mini-panel {
	background-color: #ebebeb;
	margin-bottom: 5px;
	padding: 5px 10px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.mini-panel h3 {
	color: #333333;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin: 5px 0 0 0;
}

ul.menu {
	border-top: 1px solid #FFFFFF;
	list-style: none;
}

ul.menu li {
	margin: 0;
	padding: 5px 0 4px 0;
	border-bottom: 1px solid #CCCCCC;
}

ul.menu li:last-child { border-bottom: none; }

/* rule highlighting */
.highlight {
	color: #BC2A4D;
	font-weight: bold;
	background-color: #ECD5D8;
	padding: 3px 6px 0 6px;
}

/* responsive design */
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px)
{
	#boardrules-categories,
	.rtl #boardrules-categories {
		width: 100%;
		float: none;
		text-align: center;
		margin: 0;
	}

	#container {
		width: 100%;
		margin: 0;
	}
}
